@layer vuetify-overrides {
  html,
  body,
  #app {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .v-application,
  .v-application__wrap {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
  }

  code, pre, .v-code {
    font-family: var(--font-mono);
  }
}
